<div class="date_time">
      <div class="return">
        <%= link_to 'Return', :back %>
      </div>
      <div class="actual_date">
        Suggest a Movie
      </div>
    </div>

    <div class="spacer"></div>
<div class="inner-wrap">
  <%= form_for @movie do |f| %>

<%= f.hidden_field :event_id %>
  <div class="select">
    Movie Title:
    <%= f.text_field :title %>
  </div>

    <div class="select">
      Link:
      <%= f.text_field :link %>
    </div>

    <div class="select">
      Notes:
      <%= f.text_area :notes %>
    </div>
  
    <div class="select">
      <%= f.submit "Save", :class=>"save_btn" %>
    </div>

  <% end %>
</div>