

     <div class="date_time">
      <div class="return">
        <%= link_to "Return",  events_path %>
      </div>
      <div class="actual_date">
        <%= @event.date.strftime("%A, %B %d") %>
        <%= @event.time.strftime(" at %l:%M %p") %>
      </div>
    </div>
   

    <div class="movie_night_notes">
      <%= @event.notes %>
    </div>



    <div class="movie_list">
      <div class="title">
        <div class="left">
          Movie Suggestions
        </div>

        <div class="right">
          <div class="suggest">
             <%= link_to 'Suggest a Movie', new_movie_path(:event_id => @event.id) %>
          </div>
        </div>

      </div>

      
      
      <% @movies.each do |movie| %>
        <li>
          <div class="movie_holder">
            <div class="movie_title">
              <%= link_to movie.title, movie.link, :target => "_blank" %>
            </div>
            <div class="description_holder">
              <div class="movie_description">
                <%= movie.notes %>
              </div>

              <div class="voter">
                <%= image_tag("up.png", :alt => "vote up") %>
                1
                <%= image_tag("down.png", :alt => "vote down") %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
        



        
      
    
    </div>



    <div class="spacer"></div>






